* {
	box-sizing: border-box;
}

body {
	border: solid 2rem #ff5056;
}

/*PAGE-START*/

.page-start {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: quasimoda, sans-serif;
}

.page-start main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-start h1 {
	margin: none;
	max-width: 100%;
}

.page-start h1 img {
	height: 15rem;
}

.page-start .btn-primary {
	padding: 1.25rem 2rem 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.page-start .btn-primary a {
	width: 15rem;
	padding: 1.25rem 2rem 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #ff5056;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;
}

.page-start .btn-primary a:first-child {
	margin-right: 2rem;
}

.page-start a {
	margin: none;
	color: #a1cd40;
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;

}

/*PAGE LOGIN*/

.page-login {
	height: 100vh;
/*	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;*/
	font-family: quasimoda, sans-serif;

}

.page-login header {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-login header a {
	text-decoration: none;
	color: #ff5056;
	align-self: start;
	grid-column: 1;
}

.page-login main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-login h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-login .back {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 30px;
}

.page-login form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
}

.page-login form input {
	color: #5d5d5d;
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	text-transform: uppercase;
	border-radius: 15px;
	border: 1px solid #ff5056;

	padding: 1rem;
	width: 35rem;
}

.page-login button {
	padding: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	width: 15rem;
	padding: 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
}

.page-login button a {
	padding: 1.25rem 2rem 1rem;
	text-decoration: none;
	color: white;
}

/*PAGE SIGN UP*/

.page-signup {
	height: 100vh;
/*	display: grid;
	place-items: center;*/
	font-family: quasimoda, sans-serif;

}

.page-signup header {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-signup header a {
	text-decoration: none;
	color: #ff5056;
	grid-column: 1;
	justify-self: start;
}

.page-signup main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-signup h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-signup .back {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 30px;
}

.page-signup form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
}

.page-signup form label {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ff5056;
	font-size: 20px;
	padding: .5rem;
	text-align: left;

}

.page-signup form input {
	color: #707070;
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	text-transform: uppercase;
	border-radius: 15px;
	border: 1px solid #ff5056;

	padding: 1rem;
	width: 35rem;
}

.page-signup button {
	padding: 1.25rem 2rem 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;

	width: 15rem;
	padding: 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
}

.page-signup button a {
	text-decoration: none;
	color: white;
	padding: 1.25rem 2rem 1rem;
}

/*PAGE WELCOME BACK*/

.page-welcome-back {
	height: 100vh;
	display: grid;
	grid-template-rows: auto, 1fr;
	font-family: quasimoda, sans-serif;
}

.page-welcome-back header {
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-welcome-back .account {
	grid-column: 6;
}

.page-welcome-back .account a {
	color: #a1cd40;
	text-decoration: none;
	justify-self: end;

}

.page-welcome-back main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-welcome-back h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-welcome-back .btn-primary {
	padding: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.page-welcome-back .btn-primary a {
	padding: 1.25rem 2rem 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;
}

.page-welcome-back .btn-primary a:first-child {
	margin-right: 2rem;
}

/*WELCOME*/

.page-welcome {
	height: 100vh;
	display: grid;
	grid-template-rows: auto, 1fr;
	font-family: quasimoda, sans-serif;
}

.page-welcome header {
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-welcome .account {
	grid-column: 6;
}

.page-welcome .account a {
	color: #a1cd40;
	text-decoration: none;
	justify-self: end;

}

.page-welcome main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-welcome h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-welcome .btn-primary {
	padding: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.page-welcome .btn-primary a {
	
	padding: 1.25rem 2rem 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;
}

/*FAVS*/

.page-favs {
	/*height: 100vh;*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
	font-family: quasimoda, sans-serif;
	padding: 4rem;

}

.page-favs header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
}

.page-favs header .back a {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	text-decoration: none;
}

.page-favs header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-favs header .account a {
	grid-column: 6;
	grid-row: 1;
	color: #a1cd40;
	font-size: 25px;
	font-weight: 300;
	text-decoration: none;
}

.page-favs main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
	width: 50rem;
	place-items: center;
	margin: auto;
}

.page-favs h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-favs h2{
	font-family: quasimoda, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #ff5056;
	font-size: 40px;
}

.page-favs p{
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 25px;
	text-transform: none;
}

.page-favs .prev-order {
	align-items: center;
	justify-content: center;
	text-align: left;
	padding: 2rem;
	border: 1px solid red;
	margin-bottom: 1rem;
}

.page-favs .linkies {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 25px;
	text-transform: uppercase;

}

.linkies a {
	text-decoration: none;
	color: #a1cd40;
}

.page-favs .linkies a:last-child {
	justify-self: end;
}

/*SIZE*/

.page-size {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto, 1fr;
	font-family: quasimoda, sans-serif;
	padding: 0;
}

.page-size header {
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-size .account {
	grid-column: 6;
	justify-self: end;
}

.page-size .account a {
	color: #a1cd40;
	text-decoration: none;

}

.page-size main {
	text-align: center;
	text-transform: uppercase;
	align-self: start;
}

.page-size h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-size img {
	height: 20rem;
}

.page-size p {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 1.25rem;
	text-transform: none;
}

.page-size form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: end;
	margin-bottom: 0;
	text-align: center;
	grid-gap: 3rem;
	align-items: center;
	justify-content: center;
	place-items: center;

}


.page-size form label {
display: block;
font-size: 4rem;
border: solid 3px white;
border-radius: 10px;
padding: 1rem;
}

.page-size label p {
	margin-bottom: 0;
}

.page-size label p + p {
	margin-top: 0;
}

.page-size form label i {
/*for icons*/
}

.page-size input:checked + label i {
  /* this selector applies to Font Awesome icons, if you are using them */
  /* this would be the selected icon style/color 
 */
}

.page-size input:checked + label {
  /* if you are using a border, this is where you would modify it for a selected state */
border: solid 3px #a1cd40;
border-radius: 10px;
}

.page-size form div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.page-size form div:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.page-size form div:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.page-size button {
  /* button styles are up to you */
  border: solid 3px transparent;
  border-radius: 50px;
  padding: 1.25rem 2rem 1rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: quasimoda, sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  text-align: center;
}

.page-size button[type=submit] {
  /* styles for the submit button */
  background-color: #a1cd40;
  grid-column: 2;
}

.page-size button[disabled][type=submit] {
  /* styles for the disabled submit button */
  background-color: #c8ee92;
 
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.page-size .small {
	grid-column: 1;
	grid-row: 1;
	height: 12rem;
}

.page-size .medium {
	grid-column: 2;
	grid-row: 1;
	height: 14rem;
}

.page-size .large {
	grid-column: 3;
	grid-row: 1;
	height: 16rem;
}

/*.page-size .btn-primary {
	padding: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.page-size .btn-primary a {
	width: 15rem;
	padding: 1.25rem 2rem 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;
}*/

/*BASE*/

.page-base {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	/*place-items: center;*/
	font-family: quasimoda, sans-serif;
}

.page-base header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding: 3rem;
}

.page-base header .back {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	justify-self: start;
}

.page-base header .done {
	grid-column: 5;
	grid-row: 1;
}

.page-base header .done a {
	color: #a1cd40;
}

.page-base header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-base header .account a {
	color: #a1cd40;
	font-weight: 300;
	font-size: 25px;
}

.page-base header a {
	text-decoration: none;
	color: #ff5056;
}

.page-base main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
	align-self: start;
}

.page-base h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-base h4 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 20px;
}

.page-base form {
	columns: 2;
	width: 80%;
	/*margin: auto;*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-left: 16rem;
}

/*START CODE FOR OPTIONS*/
.container {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  font-size: 30px;
  text-align: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ff5056;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a1cd40;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: .315rem;
  left: .315rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
} 

/*END CODE FOR OPTIONS HERE*/

.page-base img {
	height: 4rem;
}

.page-base .weight{
	height: 2.5rem;
}

.page-base .navigation ul {	

	list-style: none;
	display: grid; 
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-gap: 10rem;
	padding: 1rem;
	margin-bottom: none;
}

/*FRUIT*/

.page-fruit {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	font-family: quasimoda, sans-serif;
}

.page-fruit header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding: 3rem;
}

.page-fruit header .back {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	justify-self: start;
}
.page-fruit header .done {
	grid-column: 5;
	grid-row: 1;
}

.page-fruit header .done a {
	color: #a1cd40;
}

.page-fruit header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-fruit header .account a {
	color: #a1cd40;
	font-weight: 300;
	font-size: 25px;
}

.page-fruit header a {
	text-decoration: none;
	color: #ff5056;
}

.page-fruit main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
	align-self: start;
}

.page-fruit h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-fruit h4 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 20px;
}

.page-fruit form {
	columns: 2;
	width: 90%;
	/*margin: auto;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin-left: 8rem;
}

/*START CODE FOR OPTIONS*/
.container {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  font-size: 30px;
  text-align: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ff5056;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a1cd40;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: .315rem;
  left: .315rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
} 

/*END CODE FOR OPTIONS HERE*/

.page-fruit img {
	height: 4rem;
	margin: 0;
}

.page-fruit .weight{
	height: 2.5rem;
}

.page-fruit .navigation ul {	

	list-style: none;
	padding: .5rem;
	display: grid; 
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-gap: 10rem;
	padding: 1rem;
	margin: 0;
}

/*VEGGIE*/

.page-veggie {
	height: 100vh;
	/*display: grid;*/
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	font-family: quasimoda, sans-serif;
}

.page-veggie header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding: 3rem;
}

.page-veggie header .back {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	justify-self: start;
}

.page-veggie header .done {
	grid-column: 5;
	grid-row: 1;
}

.page-veggie header .done a {
	color: #a1cd40;
}

.page-veggie header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-veggie header .account a {
	color: #a1cd40;
	font-weight: 300;
	font-size: 25px;
}

.page-veggie header a {
	text-decoration: none;
	color: #ff5056;
}

.page-veggie main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
	align-self: start;
}

.page-veggie h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-veggie h4 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 20px;
}

.page-veggie form {
	columns: 2;
	width: 80%;
	/*margin: auto;*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-left: 16rem;
}

/*START CODE FOR OPTIONS*/
.container {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  font-size: 30px;
  text-align: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ff5056;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a1cd40;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: .315rem;
  left: .315rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
} 

/*END CODE FOR OPTIONS HERE*/

.page-veggie img {
	height: 4rem;
}

.page-veggie .weight{
	height: 2.5rem;
}

.page-veggie .navigation ul {	

	list-style: none;
	padding: .5rem;
	display: grid; 
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-gap: 10rem;
	padding: 1rem;
}

/*PROTIEN*/

.page-protien {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	/*place-items: center;*/
	font-family: quasimoda, sans-serif;
}

.page-protien header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding: 3rem;
}

.page-protien header .back {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	justify-self: start;
}

.page-protien header .done {
	grid-column: 5;
	grid-row: 1;
}

.page-protien header .done a {
	color: #a1cd40;
}

.page-protien header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-protien header .account a {
	color: #a1cd40;
	font-weight: 300;
	font-size: 25px;
}

.page-protien header a {
	text-decoration: none;
	color: #ff5056;
}

.page-protien main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
	align-self: start;
}

.page-protien h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-protien h4 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 20px;
}

.page-protien form {
	columns: 2;
	width: 90%;
	/*margin: auto;*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-left: 10rem;
}

/*START CODE FOR OPTIONS*/
.container {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  font-size: 30px;
  text-align: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ff5056;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a1cd40;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: .315rem;
  left: .315rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
} 

/*END CODE FOR OPTIONS HERE*/

.page-protien img {
	height: 4rem;
}

.page-protien .weight{
	height: 2.5rem;
}

.page-protien .navigation ul {	

	list-style: none;
	padding: .5rem;
	display: grid; 
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-gap: 10rem;
	padding: 1rem;
}


/*ADD ON*/

.page-add-on {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	/*place-items: center;*/
	font-family: quasimoda, sans-serif;
}

.page-add-on header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding: 3rem;
}

.page-add-on header .back {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	justify-self: start;
}

.page-add-on header .done {
	grid-column: 5;
	grid-row: 1;
}

.page-add-on header .done a {
	color: #a1cd40;
}

.page-add-on header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-add-on header .account a {
	color: #a1cd40;
	font-weight: 300;
	font-size: 25px;
}

.page-add-on header a {
	text-decoration: none;
	color: #ff5056;
}

.page-add-on main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
	align-self: start;
}

.page-add-on h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-add-on h4 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 20px;
}

.page-add-on form {
	columns: 2;
	width: 80%;
	/*margin: auto;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin-left: 8rem;
}

/*START CODE FOR OPTIONS*/
.container {
  display: block;
  position: relative;
  padding-left: 2.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
  font-size: 30px;
  text-align: left;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.75rem;
  width: 1.75rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ff5056;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #a1cd40;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: .315rem;
  left: .315rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
} 

/*END CODE FOR OPTIONS HERE*/

.page-add-on img {
	height: 4rem;
	margin: 0;
}

.page-add-on .weight{
	height: 2.5rem;
}

.page-add-on .navigation ul {	

	list-style: none;
	padding: .5rem;
	display: grid; 
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	place-items: center;
	grid-gap: 10rem;
	padding: 1rem;
	margin-bottom: 2rem;
}

/*DETAILS*/

.page-details {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	place-items: center;
	/*padding: 2rem;*/
	font-family: quasimoda, sans-serif;
}

.page-details header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 3rem;
}

.page-details .add-more {
	grid-column: 5;
	margin-right: 2rem;
	justify-self: end;
}

.page-details .add-more a {
	color: #a1cd40;

}

.page-details header .account {
	grid-column: 6;
	grid-row: 1;
	justify-self: end;
}

.page-details header .account a {
	grid-column: 6;
	grid-row: 1;
	color: #a1cd40;
	font-size: 25px;
	font-weight: 300;
	text-decoration: none;
}


.page-details header .back {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
}

.page-details header .next {
	grid-column: 5;
	grid-row: 1;
}

.page-details header .done {
	grid-column: 6;
	grid-row: 1;
}

.page-details header .done a {
	color: #a1cd40;
}


.page-details header a {
	text-decoration: none;
	color: #ff5056;
}

.page-details main {
	/*padding: 2rem;*/
	text-align: center;
	text-transform: uppercase;
	margin: auto;
}

.page-details h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
	line-height: 1;
	margin: 0;
}

.page-details .order-details {
	align-items: center;
	justify-content: center;
	text-align: left;
	width: 80rem;
	padding: 2rem;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat (4, auto);
}

.page-details h2 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ff5056;
	font-size: 40px;
	grid-column: 1 / span 2;
	grid-row: 1;
}

.page-details h3 {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 40px;
}

.page-details .total {
	grid-column: 2;
	grid-row: 2;
	justify-self: end;
	align-self: start;
}

.page-details p {
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 25px;
	text-transform: none;
	grid-column: 1;
	grid-row: 2;
}

.page-details .linkies {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #707070;
	font-size: 25px;
	text-transform: uppercase;
	grid-column: 1/-1;
	grid-row: 3;
	margin-bottom: 2rem;

}

.linkies a {
	text-decoration: none;
	color: #a1cd40;
}

.linkies a:last-child {
	justify-self: end;
}

.page-details .btn-primary {
	/*padding: 3rem;*/
	/*margin-top: 2rem;
	margin-bottom: 1rem;*/
	grid-row: 4;
	grid-column: 1 / -1;
	justify-self: center;
	text-align: center;
}

.page-details .btn-primary a {
	padding: 1.25rem 2rem 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;

}

/*TOTAL*/

.page-total {
	height: 100vh;
/*	display: grid;
	place-items: center;*/
	font-family: quasimoda, sans-serif;
}

.page-total header {
	font-family: quasimoda, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-total header .back {
	grid-column: 1;
	grid-row: 1;
}

.page-total header .back a {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
}

.page-total .account {
	grid-column: 6;
}

.page-total .account a {
	color: #a1cd40;
	text-decoration: none;

}

.page-total main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-total h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-total h3 {
	font-family: quasimoda, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #707070;
	font-size: 40px;
}

.page-total .btn-primary {
	padding: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.page-total .btn-primary a {
	padding: 1.25rem 2rem 1rem;
	line-height: 1;
	border-radius: 50px;
	display: inline-block;
	background-color: #a1cd40;
	color: white;
	text-decoration: none;
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-size: 25px;
	font-style: normal;
}

.page-total .btn-primary a:first-child {
	margin-right: 2rem;
}

/*SCAN*/

.page-scan {
	height: 100vh;
	font-family: quasimoda, sans-serif;
}

.page-scan header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding: 3rem;
}

.page-scan header .back a {
	grid-column: 1;
	grid-row: 1;
	color: #ff5056;
	text-decoration: none;
	text-transform: uppercase;
}

.page-scan header .account {
	grid-column: 6;
	grid-row: 1;
}

.page-scan header .account a {
	grid-column: 6;
	grid-row: 1;
	color: #a1cd40;
	font-size: 25px;
	font-weight: 300;
	text-decoration: none;
}


.page-scan main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-scan h1 {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5056;
	font-size: 50px;
}

.page-scan img {
	padding: 3rem;
	height: 50vh;

}

/*CONFIRMATION*/


.page-confirmation {
	height: 100vh;
	display: grid;
	grid-template-rows: auto, 1fr;
	font-family: quasimoda, sans-serif;
}

.page-confirmation header {
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.page-confirmation .main-menu {
	grid-column: 1;
	justify-content: start;
}

.page-confirmation .main-menu a {
	color: #ff5056;
	text-decoration: none;

}

.page-confirmation main {
	padding: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.page-confirmation h1{
	font-family: quasimoda, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #a1cd40;
	font-size: 50px;
}

.page-confirmation h2{
	font-family: quasimoda, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #ff5056;
	font-size: 40px;
}

.page-confirmation h3 {
	font-family: quasimoda, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #707070;
	font-size: 50px;
}





